---
- name: Update nifi.properties
  ansible.builtin.lineinfile:
    path: "{{ nifi_config_dirs.home }}/conf/nifi.properties"
    line: "{{ item.key }}={{ item.value }}"
    regexp: "^{{ item.key }}="
  with_dict: "{{ nifi_properties }}"
  notify: Restart NiFi

- name: Update bootstrap.conf
  ansible.builtin.lineinfile:
    path: "{{ nifi_config_dirs.home }}/conf/bootstrap.conf"
    line: "{{ item.key }}={{ item.value }}"
    regexp: "^{{ item.key }}="
  with_dict: "{{ bootstrap }}"
  notify: Restart NiFi

- name: Update nifi-env.sh
  ansible.builtin.lineinfile:
    path: "{{ nifi_config_dirs.home }}/bin/nifi-env.sh"
    line: "export {{ item.key }}={{ item.value }}"
    regexp: "^export {{ item.key }}="
  with_dict: "{{ nifi_env }}"
  notify: Restart NiFi

- name: Update state-management.xml
  community.general.xml:
    path: "{{ nifi_config_dirs.home }}/conf/state-management.xml"
    xpath: "{{ item.key }}"
    value: "{{ item.value }}"
  with_dict: "{{ state_management }}"
  notify: Restart NiFi

- name: Update logback.xml
  community.general.xml:
    path: "{{ nifi_config_dirs.home }}/conf/logback.xml"
    xpath: "{{ item.key }}"
    value: "{{ item.value }}"
  with_dict: "{{ logback }}"
  notify: Restart NiFi

- name: Update login-identity-providers.xml
  when: login_identity_providers['/loginIdentityProviders/provider/identifier'] | length
  block:
    - name: Uncomment block in login-identity-providers.xml
      ansible.builtin.replace:
        path: "{{ nifi_config_dirs.home }}/conf/login-identity-providers.xml"
        regexp: "^.*To enable the {{ login_identity_providers['/loginIdentityProviders/provider/identifier'] }}.*$"
        replace: ""
    - name: Update properties in login-identity-providers.xml
      community.general.xml:
        path: "{{ nifi_config_dirs.home }}/conf/login-identity-providers.xml"
        xpath: "{{ item.key }}"
        value: "{{ item.value }}"
        pretty_print: yes
      with_dict: "{{ login_identity_providers }}"
      notify: Restart NiFi

- name: Update authorizers.xml
  when: authorizers_identifiers | length
  block:
    - name: Uncomment block in authorizers.xml
      ansible.builtin.replace:
        path: "{{ nifi_config_dirs.home }}/conf/authorizers.xml"
        regexp: "^.*To enable the {{ authorizers['/authorizers/userGroupProvider/identifier'] }}.*$"
        replace: ""
    - name: Update properties in authorizers.xml
      community.general.xml:
        path: "{{ nifi_config_dirs.home }}/conf/authorizers.xml"
        xpath: "{{ item.key }}"
        value: "{{ item.value }}"
        pretty_print: yes
      with_dict: "{{ authorizers }}"
      notify: Restart NiFi

- name: Prepare Zookeeper
  ansible.builtin.include_tasks: zookeeper.yml
  when:
    - nifi_properties['nifi.state.management.embedded.zookeeper.start'] is defined
    - nifi_properties['nifi.state.management.embedded.zookeeper.start'] | bool
  notify: Restart NiFi

- name: Set NiFi variables in env.sh
  ansible.builtin.lineinfile:
    path: "{{ nifi_config_dirs.home }}/bin/nifi-env.sh"
    line: "{{ item.key }}={{ item.value }}"
    regexp: "^{{ item.key }}"
  with_dict: "{{ nifi_environment }}"
